version: '3.8'

services:
  web:
    build: .
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             gunicorn --bind 0.0.0.0:8000 doc_doc.wsgi:application"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - "8000"
    environment:
      - DEBUG=True
      - SECRET_KEY=django-insecure-4ljx5pbt9c98%4nww*0c=irj1g#2wz$$%e+pc(g-&=_)t9slwn!
      - ALLOWED_HOSTS=doc-doc.douniah.com,localhost,127.0.0.1
      - AWS_ACCESS_KEY_ID=minioadmin
      - AWS_SECRET_ACCESS_KEY=minioadmin
      - AWS_STORAGE_BUCKET_NAME=doc-doc
      - AWS_S3_ENDPOINT_URL=http://minio:9000
    depends_on:
      minio:
        condition: service_healthy
      createbuckets:
        condition: service_completed_successfully
    networks:
      - proxy
      - default
    restart: unless-stopped

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  # MinIO bucket creation
  createbuckets:
    image: minio/mc:latest
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc config host add myminio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb myminio/doc-doc --ignore-existing;
      /usr/bin/mc anonymous set public myminio/doc-doc;
      exit 0;
      "

volumes:
  minio_data:
  static_volume:
  media_volume:

networks:
  proxy:
    external: true
